.vscode/
*.fls
_minted*
*.fdb_latexmk
out/*
*.xdv
*.gz
src/version.tex
*.pyg
*.synctex(busy)
src/.dotty-ide-disabled
venv/*
.DS_Store
src/.metals
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.url
result
.direnv/

*.pdf
!src/figures/*.pdf
